---
import '../styles/global.css';
---
<div class="bg-gray-100 rounded-md p-6 shadow-lg text-lg sm:text-xl md:text-2xl grid grid-cols-1 sm:grid-cols-2 gap-4 mb-8">
    <div class="text-white font-bold mx-auto w-full sm:w-fit rounded-md flex flex-row justify-center">
      <button class="p-4 bg-black text-white font-bold m-0 my-auto w-full sm:w-fit h-fit rounded-md">
        <div class="flex flex-row justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#ffffff"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="hidden sm:inline-block w-16 h-16"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
            />
          </svg>
          <span>Rellena el formulario y triunfa en internet</span>
        </div>
      </button>
    </div>
    <div class="text-center sm:text-left">
      ¡Si quieres destacar en internet no lo dudes, hablemos de tus objetivos sin coste ni
      compromiso!
    </div>
  </div>