---
import '../styles/global.css';
import seoGif from "../assets/seoVideo.webm"
---
<div class="mb-8">
    <video autoplay loop muted playsinline>
      <source src={seoGif} type="video/webm" />
    </video>
    <div class="text-gray-500 font-semibold italic text-md text-center">
      «Gráfica real del aumento de visitas de uno de nuestros clientes»
    </div>
</div>