---
interface Props {
    query: string;
}

const { query ="Santander,cantabria,mapa" } = Astro.props;
const mapSrc = 'https://www.google.com/maps/embed/v1/search?key=AIzaSyBAtHbHZ76dNdC3u9nYWJXsH7hj9m7x9jg&q='+query
---
<div>
    <iframe
      title="Mapa local"
      src={mapSrc}
      width="100%"
      height="450"
      style={{ border: '0' }}
      allowfullscreen={false}
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>