---
// TableOfContentsHeading.astro
import '../styles/global.css';
const { heading } = Astro.props;
---

<li class="list-disc list-inside pl-4 text-md">
  <a class="text-primary-700 hover:text-primary-900 transition duration-100" href={'#' + heading.slug}>
    {heading.text}
  </a>
  {
    heading !== undefined &&(
    heading.subheadings.length > 0 && (
      <ul class="list-decimal list-inside pl-4">
        {heading.subheadings.map((subheading: any) => (
          subheading !== undefined &&(<Astro.self heading={subheading} />)
        ))}
      </ul>
    ))
  }
</li>