---
//const videoUrl = "https://ik.imagekit.io/xzu6bxg7d/Port_web.webm?updatedAt=1697018574854"
import videoUrl from "../assets/otroVideo.webm"
---

<>
<video autoplay loop muted controls playsinline>
  <source src={videoUrl} type="video/webm" />
</video>
<div class="text-gray-500 font-semibold italic text-md text-center">
  «Ejemplos de nuestros trabajos»
</div>
</>